.clearfix {
  clear: both;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url('../img/header.jpg');
  height: 100%;
}
button {
  border: 2px solid #FFF000;
  border-radius: 10px;
  background: inherit;
  color: #FFF000;
  cursor: pointer;
  padding: 5px;
}
button:hover {
  background-color: rgba(255, 240, 0, 0.5);
  color: white;
}
input {
  border: 2px solid #FFF000;
  border-radius: 10px;
  background: inherit;
  color: white;
  padding: 5px;
  outline: none !important;
}
header {
  margin: 0;
  padding: 20px;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}
header#mainHeading {
  position: relative;
  top: 50px;
}
header#mainHeading img {
  vertical-align: none;
  margin-bottom: 30px;
}
.modules {
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
  top: 120px;
  color: white;
}
.modules .tech-en {
  border: 2px solid #3498DB;
  height: 220px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 5px;
}
.modules .tech-en:hover {
  background-color: rgba(52, 152, 219, 0.5);
}
.modules .networking {
  border: 2px solid #26A65B;
  height: 220px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 5px;
}
.modules .networking:hover {
  background-color: rgba(38, 166, 91, 0.5);
}
.modules .numbers {
  border: 2px solid #FF7F00;
  height: 220px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 5px;
}
.modules .numbers:hover {
  background-color: rgba(255, 127, 0, 0.5);
}
.modules h2 {
  transform: rotate(-90deg);
  position: relative;
  top: 55px;
  height: 10px;
  margin-right: 10px;
}
.modules i {
  color: white;
  position: relative;
  left: 28%;
  top: 10px;
}
.modules figcaption {
  text-align: center;
  color: white;
  margin-top: 20px;
  font-weight: 600;
}
.modules a,
.modules a:hover,
.modules a:link,
.modules a:focus {
  text-decoration: none;
  color: #3498DB;
}
.about {
  position: relative;
  top: 200px;
  color: white;
}
.about h2 {
  transform: rotate(-90deg);
  position: relative;
  top: 100px;
  height: 10px;
}
footer {
  position: relative;
  bottom: -210px;
  text-align: center;
  color: #b1b1b1;
}
