<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Psaní všemi deseti | ToolkIT</title>

  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../common/main.css">
  <link rel="stylesheet" href="atf.css">
  <script src="../common/main.js"></script>

  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
  <link rel="icon" href="../favicon.ico" type="image/x-icon">
</head>

<body>
  <div id="atf" v-cloak>
    <div class="smallMenu">
      <div class="menuItem menuSettings" title="Nastavení" @click="swapSettings" v-bind:class="{'active': location =='settings'}"><i class="fas fa-cog" aria-hidden="true"></i></div>
      <div class="menuItem menuATFHelp" title="Nápověda" @click="swapATFHelp" v-bind:class="{'active': help, 'border': help && location =='settings'}"><i class="fas fa-question-circle" aria-hidden="true"></i></div>
      <div class="menuItem menuBack" title="Úvodní stránka" v-if="location =='settings'"><a href="../"><i class="fas fa-home"></i><span>ToolkIT</span></a></div>
    </div>
    <div class="helpBox">
      <div class="help">
        <img src="../img/atfLayout.png" alt="Prstoklad při psaní">
      </div>
    </div>
    <div class="settings" v-show="location =='settings'" :style="{'user-select': layoutModal ? 'none':'initial'}">
      <div class="area">
        <div class="inputs inputsMain clearfix" :style="{ 'opacity': inputDisabled ? 0.5 : 1.0 }" v-show="page=='main'">
          <h1>Psaní všemi deseti</h1>
          <div style="margin-top:-10px">
            <span>Preferované zaměření:</span>
            <div class="radioChoose settFocus">
              <div class="sliderBackg" :style="{'left': settFocusPosition.left, 'width': settFocusPosition.width}"></div>
              <label>rychlost+přesnost<input type="radio" @input="saveSettings" name="settFocus" v-model="settFocus" v-bind:value="1" :disabled="inputDisabled"></label>
              <label>rychlost<input type="radio" @input="saveSettings" name="settFocus" v-model="settFocus" v-bind:value="2" :disabled="inputDisabled"></label>
              <label>přesnost<input type="radio" @input="saveSettings" name="settFocus" v-model="settFocus" v-bind:value="3" :disabled="inputDisabled"></label>
            </div>
          </div>
          <div class="clearfix" style="margin-top:30px">
            <label class="label-cbx">
              Konečná odměna v podobě obrázku:
              <input type="checkbox" @input="saveSettings" class="invisible" v-model="settReward" :disabled="inputDisabled">
              <div class="checkbox" style="float:right">
                <svg width="20px" height="20px" viewBox="0 0 20 20">
                  <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                  <polyline points="4 11 8 15 16 6"></polyline>
                </svg>
              </div>
            </label>
            <input type="text" @input="saveSettings" class="keywords" v-model="settRewardKeyword" placeholder="Klíčové slovo odměny" :disabled="inputDisabled || !settReward" :style="{ 'opacity': (!settReward && !inputDisabled) ? .5 : 1 }">
          </div>
          <div class="clearfix">
            <div class="clearfix" style="float:left">
              <label class="label-cbx">
                Zobrazit statistiky při psaní:
                <input type="checkbox" @input="saveSettings" class="invisible" v-model="stats.show" :disabled="inputDisabled">
                <div class="checkbox" style="float:right">
                  <svg width="20px" height="20px" viewBox="0 0 20 20">
                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                    <polyline points="4 11 8 15 16 6"></polyline>
                  </svg>
                </div>
              </label>
            </div>
          </div>
          <div style="margin-top: 15px">
            <span class="leftSide">Příkazy:</span>
            <div><span class="shortcut">/end</span><span> - ukončí psaní</span></div>
            <div><span class="shortcut">/skip</span><span> - přeskočí aktuální řádku</span></div>
            <div><span class="shortcut">//</span><span> - doplňí následující znak v textu</span></div></span>
          </div>
        </div>
        <div class="inputs source" :style="{ 'opacity': inputDisabled ? 0.5 : 1.0 }" v-show="page=='source'">
          <h3>Zdroj textu</h3>
          <div class="settSource">
            <input type="radio" @input="saveSettings" name="settSource" id="s1" v-model="settSource" value="1" :disabled="inputDisabled">
            <label for="s1" class="desc">
              <div>
                <span class="description">vlastní</span>
              </div>
            </label>
            <input type="radio" @input="saveSettings" name="settSource" id="s2" v-model="settSource" value="2" :disabled="inputDisabled">
            <label for="s2" class="desc">
              <div>
                <span class="description"><i class="fas fa-rss"></i>rss</span>
              </div>
            </label>
            <input type="radio" @input="saveSettings" name="settSource" id="s3" v-model="settSource" value="3" :disabled="inputDisabled">
            <label for="s3" class="desc">
              <div>
                <span class="description">náhodný text</span>
              </div>
            </label>
          </div>
          <div v-if="settSource==1">
            <textarea @input="saveSettings" name="" id="" cols="55" rows="5" placeholder="Sem vložte text" v-model="sourceCustom"></textarea>
          </div>
          <div v-if="settSource==2">
            <input type="text" @input="saveSettings" placeholder="RSS URL" v-model="sourceRSS">
          </div>
          <div v-if="settSource==3">
            <span>Náhodný (anglický) text prostřednictvím nástroje <a href="https://randomtextgenerator.com" target="_blank">randomtextgenerator.com</a></span>
          </div>
        </div>
        <div class="inputs filters" :style="{ 'opacity': inputDisabled ? 0.5 : 1.0 }" v-show="page=='filters'">
          <h3>Filtry</h3>
          <div class="clearfix">
            <label class="label-cbx">
              Aktivovat filtrování textu:
              <input type="checkbox" @input="saveSettings" class="invisible" v-model="settFilters" :disabled="inputDisabled">
              <div class="checkbox" style="float:right">
                <svg width="20px" height="20px" viewBox="0 0 20 20">
                  <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                  <polyline points="4 11 8 15 16 6"></polyline>
                </svg>
              </div>
            </label>
          </div>
          <div class="group" :style="{ 'opacity': (!settFilters && !inputDisabled) ? 0.5 : 1.0 }">
            <div>
              <span>Filtrovat na úrovni:</span>
              <div class="radioChoose settFilterLevel">
                <div class="sliderBackg" :style="{'left': settFilterLevelPosition.left, 'width': settFilterLevelPosition.width}"></div>
                <label>písmen<input type="radio" @input="saveSettings" name="settFilterLevel" v-model="settFilterLevel" v-bind:value="1" :disabled="inputDisabled || !settFilters"></label>
                <label>slov<input type="radio" @input="saveSettings" name="settFilterLevel" v-model="settFilterLevel" v-bind:value="2" :disabled="inputDisabled || !settFilters"></label>
              </div>
            </div>
            <div class="clearfix">
              <label class="label-cbx">
                Automaticky převádět na správnou velikost:
                <input type="checkbox" @input="saveSettings" class="invisible" v-model="settCaseSensitive" :disabled="inputDisabled || !settFilters">
                <div class="checkbox" style="float:right">
                  <svg width="20px" height="20px" viewBox="0 0 20 20">
                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                    <polyline points="4 11 8 15 16 6"></polyline>
                  </svg>
                </div>
              </label>
            </div>
            <div>
              <span>Filtrovat jiné:</span><input type="text" @input="saveSettings" v-model="settSpecial" placeholder="Vypište znaky" class="settSpecial" :disabled="inputDisabled || !settFilters || settSpecialAll" :style="{ 'opacity': (settSpecialAll && settFilters && !inputDisabled) ? .5 : 1 }"><span>Filtrovat
                všechny speciální zn.:</span>
              <label class="label-cbx" style="float:none">
                <input type="checkbox" @input="saveSettings" class="invisible" v-model="settSpecialAll" :disabled="inputDisabled || !settFilters">
                <div class="checkbox" style="float: right">
                  <svg width="20px" height="20px" viewBox="0 0 20 20">
                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                    <polyline points="4 11 8 15 16 6"></polyline>
                  </svg>
                </div>
              </label>
            </div>
            <hr>
            <div class="behavior">
              <span>Filtrované znaky:</span>
              <div class="radioChoose settFilterBehavior">
                <div class="sliderBackg" :style="{'left': settFilterBehaviorPosition.left, 'width': settFilterBehaviorPosition.width}"></div>
                <label>automaticky dopsat<input type="radio" @input="saveSettings" name="settFilterBehavior" v-model="settFilterBehavior" v-bind:value="1" :disabled="inputDisabled || !settFilters"></label>
                <label>úplně vynechat<input type="radio" @input="saveSettings" name="settFilterBehavior" v-model="settFilterBehavior" v-bind:value="2" :disabled="inputDisabled || !settFilters"></label>
              </div>
            </div>
            <div class="settLayout" @click="showLayoutModal" :style="{ 'color': (inputDisabled || !settFilters) ? 'white!important' : '' }">
              <div>Upravit</div>
              <i class="far fa-keyboard"></i>
              <div>layout</div>
            </div>
          </div>
        </div>
        <div class="opts clearfix">
          <button type="button" class="additional" @click="page = 'main'" title="Hlavní nastavení" v-bind:class="{'active': page=='main'}">
            <i class="fas fa-cogs"></i>
          </button>
          <button type="button" class="additional" @click="page = 'source'" title="Zdroj textu" v-bind:class="{'active': page=='source'}">
            <i class="fas fa-database"></i>
          </button>
          <button type="button" class="additional" @click="page = 'filters'" title="Filtry" v-bind:class="{'active': page=='filters'}">
            <i class="fas fa-filter"></i>
          </button>
          <div class="generateNewBox" :class="{'showErrorList':!settingsValid}">
            <button type="button" @click="generateNew" class="generateNew" :disabled="!settingsValid" v-if="!inputDisabled">
              Začít psát
            </button>
            <div class="popup">
              <div><b>Chyby v nastavení:</b></div>
              <div v-for="item in errorsList">{{item}}</div>
            </div>
          </div>
          <button type="button" @click="swapSettings" v-if="inputDisabled">
            Pokračovat
          </button>
          <button type="button" @click="changeSettings" v-if="inputDisabled">
            Změnit nastavení
          </button>
        </div>
      </div>
      <div class="layoutModal" v-if="layoutModal" @mousedown="layoutMouseState" @mouseup="layoutMouseState" @mousemove="layoutMouseState">
        <div class="exit" @click="layoutModal = false"><i class="fas fa-times"></i></div>
        <h4>Označte klávesy, s kterými chcete psát</h4>
        <div v-for="row in layout" class="keyRow">
          <div :style="{'margin-left':row[0].correction}" class="inline">
            <span @mouseenter="layoutCheckForSwap(key)" @mousedown="layoutSwap(key)" class="key" v-for="key in row" :class="key.state">{{key.key}}</span>
          </div>
        </div>
        <div class="menu">
          <span class="key unfixed" @click="allKeys('on')">Označit vše</span><span class="key unfixed" @click="allKeys('off')">Zrušit vše</span>
        </div>
      </div>
    </div>
    <div class="main" v-show="location =='main'">
      <h1>Psaní všemi deseti</h1>
      <div>Pro ukončení napište <span class="shortcut">/end</span></div>
      <div class="container">
        <div class="correctLine">
          <div class="lastLine"></div><span v-if="loadingText">
            <div class="loader"></div>Načítání textu ze zdroje
          </span><span v-else class="nowLine"><span v-for="key in currentLineCorrect" :class="{'ghost': key.ghost}">{{key.key}}</span></span>
        </div>
        <div class="lineBox clearfix">
          <div class="line"><span v-for="letter, index in currentLine" :class="letter.state">{{letter.key}}</span></div>
          <div class="typing anim"></div>
        </div>
      </div>
      <div class="statsBox" v-if="stats.show">
        <div class="stats">
          <table>
            <tr>
              <td v-if="settFocus!=3">Rychlost</td>
              <td v-if="settFocus!=2">Chybovost</td>
            </tr>
            <tr>
              <td v-if="settFocus!=3"><span v-if="stats.strokeDelays.length >= 5">{{stats.animSpeed}}</span><span v-else>
                  <div class="loader"></div>TBD
                </span></td>
              <td v-if="settFocus!=2">{{errorPercentage}}%</td>
            </tr>
            <tr>
              <td v-if="settFocus!=3"><small>(úhozů/min)</small></td>
              <td v-if="settFocus!=2">{{stats.errorCount}}<small> /{{stats.totalStrokes}}</small></td>
            </tr>
          </table>
        </div>
        <div class="popup">
          <span v-if="settFocus!=3">Rychlost: Průměr posledních 30 úhozů</span>
          <br v-if="settFocus==1">
          <span v-if="settFocus!=2">Chybovost: Po chybě jsou další úhozy ignorovány, až do jejího opravení</span>
          <br>
          Zobrazení/skrytí - <span class="shortcut">Ctrl + Shift + S</span>
        </div>
      </div>
    </div>
    <div class="finished" v-show="location =='finished'">
      <div class="rewardBox" :style="{ 'visibility': rewardVisible ? 'visible' : 'hidden' }">
        <div class="percents">{{rewardPercents}}</div>
        <div class="cover" :style="{ 'border-width': rewardCoverWidth }"></div>
        <img :src="rewardUrl" id="rewardImg">
      </div>
      <table>
        <tr>
          <td :style="{'visibility': settFocus!=3 ? 'visible' : 'hidden'}">Celková rychlost:</td>
          <td :style="{'visibility': settFocus!=3 ? 'visible' : 'hidden'}">{{stats.overallSpeed}} úhozů/min</td>
          <td rowspan="2">dokončeno</td>
          <td rowspan="2"><button @click="generateNew">Zopakovat</button></td>
          <td rowspan="2"><button @click="swapSettings">Přejít do nastavení</button></td>
        </tr>
        <tr>
          <td v-if="settFocus!=2">Celková chybovost:</td>
          <td v-if="settFocus!=2">{{errorPercentage}}% - {{stats.errorCount}}/{{stats.totalStrokes}} znaků</td>
        </tr>
      </table>
    </div>
    <footer class="footer">
      <table>
        <tr>
          <td>Matěj Motl</td>
          <td rowspan="3"><a href="https://ssinfis.cz" target="_blank"><img src="../img/infisLogo.png" alt="infis">
              <span>Střední škola informatiky<br>a finančních služeb, Plzeň</span>
            </a></td>
        </tr>
        <tr>
          <td>&copy; <span class="currentYear"></span></td>
        </tr>
        <tr>
          <td>ATF v1</td>
        </tr>
      </table>
    </footer>
    <div class="hide">{{settFilterLevelSelected}}{{settFilterBehaviorSelected}}{{settFocusSelected}}</div>
    <div class="invis"></div>
  </div>
  <script src="atf.js"></script>
</body>
