body {
    background-color: #4B4B4B;
    overflow-x: hidden;
    color: white;
}

th {
    color: #fff000;
}
input {
    margin: 5px;
}
.sidebar {
    border: 2px solid white;
    border-top:0;
    min-width: 200px;
    max-width: 285px;
    padding: 15px;
    background-color: #1C1C1C;
}

.nav-link {
        color: white;
}

.nav-link:hover {
    background-color: rgba(38,38,38,0.5);
    color: white;
    
    .disabled {
        color: #868e96;
        pointer-events: none;
        cursor: default;
    }
}

#add {
    color: green;
}

footer {
    font-size: 13px;
    text-align: center;
    bottom: 0;
    margin-top: 10px;
}