//out: ../css/soustavy.css
html, body {
  height: 100%;
}
#soustavy {
  color: white;
  text-align: center;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  .main {
    margin-top: 100px;
    font-size: 28px;
    input {
      width: 200px;
    }
  }
  .centerHax {
    display: inline-block;
  }
  h1 {
    margin-bottom: 30px;
  }
  input {
    text-align: center;
    width: 100px;
    font-size: 28px;
  }
  sub {
    font-size: 50%;
  }
  .settings {
    display: inline-block;
    td {
      padding: 5px 10px;
    }
    .heading {
      text-transform: uppercase;

    }

    .to {
      font-size: 64px;
      line-height: 0px;
    }
    .buttons {
      button {
        margin: 30px 5px 0px 5px;
      }

    }
  }
}
