//out: ../css/tech-en.css

.choose {
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
    top: 120px;
    color: white;

    .jednot-lekce {
        .fa-folder {
            display: inline;
        }
        .fa-folder-open {
            display: none;
        }

        &:hover {
            .fa-folder {
                display: none;
            }
            .fa-folder-open {
                display: inline;
            }
        }
    }

    h2 {
        transform: rotate(-90deg);
        position: relative;
        top: 55px;
        height: 10px;
        margin-right: 10px;
    }

    i {
        color: white;
        position: relative;
        left: 28%;
        top: 10px;
    }

    figcaption {
        text-align: center;
        color: white;
        margin-top: 20px;
        font-weight: 600;
    }

    a, a:hover, a:link, a:focus {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
}

.box {
    margin-top: 20px;
    position: relative;
    top: 110px;
    .in-folder {
        .info-lekce {
            margin: 10px;
            padding: 10px;
            border-bottom: 2px solid #fff000;
            border-top: 2px solid #fff000;
            color: white;
        }

        a:hover {

            color: #fff000;
        }
    }
    h3 {
        color: white;
        text-align: center;
    }

    a, a:hover, a:link, a:focus {
        text-decoration: none;
        color: white;
        cursor: pointer;
        padding: 5px;
        margin: 5px;
        min-width: 100px;
        text-align: center;
        min-height: 100px;
        position: relative;
        left: 25%;
    }
}
