<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="keywords" content="toolkit, procvičování, technická angličtina, subnetting, převody mezi číselnými soustavami, psaní všemi deseti">
  <meta name="description" content="Soubor nástrojů pro procvičování IT dovedností s rozsáhlými možnostmi přizpůsobení.">
  <meta name="robots" content="index,follow">
  <meta name="author" content="Andrea Kozáková, Matěj Motl">
  <title>ToolkIT - Pomocník každého studenta IT</title>

  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>

  <link rel="stylesheet" href="common/main.css">
  <link rel="stylesheet" href="intro/intro.css">

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
  <div id="introBox">
    <div id="intro" v-cloak>
      <div class="box">
        <div class="apps" @mouseleave="active = false">
          <a :href="item.link" v-for="item, index in apps" @mousemove="update($event, index)" @mouseover="hover(item);active = true;item.active = true" :style="{'border-color': item.color}">
            <span>{{item.name}}</span>
            <img :src="'img/app-icons/'+item.icon+'.svg'" class="icon">
            <div class="background" :style="{'border-color': item.color,'transform': translate}" :class="{'active': item.active}"></div>
          </a>
        </div>
        <div class="about">
          <img src="img/toolkitLogo.png" class="logo">
          <h1 class="hide">ToolkIT</h1>
          <h2>Pomocník každého studenta IT</h2>
          <div class="delimiter">
            <div class="overlay" :style="{'background': itemActive.color}" :class="{'active': active}"></div>
          </div>
          <div class="description" v-if="!active">
            <div>
              Soubor nástrojů pro procvičování IT dovedností s rozsáhlými možnostmi přizpůsobení.
              Pracujeme s cookies k ukládání nastavení - používáním aplikací s tím souhlasíte.
              <a href="https://goo.gl/forms/n0B8riYEMuKcxfXx2" target="_blank">Nahlásit bug / zpětná vazba</a>.
            </div>
            <div class="credits">
              <b>Matěj Motl</b><span>&</span><b>Andrea Kozáková</b>
            </div>
            <div class="made">
              v roce <span>2019</span> na <a href="https://infis.cz" target="_blank"><img src="img/infisLogo.png"></a>
            </div>
          </div>
          <div class="appsDescription" v-else>
            <h3 :style="{'color': itemActive.color}">{{itemActive.name}}</h3>
            <ul>
              <li v-for="line in itemActive.description">{{line}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="intro/intro.js"></script>
</body>

</html>
