<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Soustavy | ToolkIT</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/soustavy.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>

</head>

<body>
  <div class="smallMenu">

    <div class="menuItem menuBack" title="Zpět na úvodní stránku"><a href="index.html"><i class="fas fa-home"></i><span>ToolkIT</span></a></div>
  </div>
  <div id="soustavy">

    <h1>Převody mezi číselnými soustavami</h1>
    <div class="block">
      <div class="settings" v-bind:class="{'exon': exOn,'visib':!exOnMiddle2}">
        <h4>Nastavení</h4>
        <div class="centerHax">
          <table>
            <tr>
              <td class="heading">ze soustavy</td>
              <td></td>
              <td class="heading">do soustavy</td>
            </tr>
            <tr>
              <td><input type="text" v-model="from" :style="{ 'border-color': fromColor }"></td>
              <td class="to"><i class="fas fa-long-arrow-alt-right"></i></td>
              <td><input type="text" v-model="to" :style="{ 'border-color': toColor }"></td>
            </tr>
          </table>
        </div>
        <div class="range">
          Rozsah generovaných čísel:
          <input type="text" v-model="range" :style="{ 'border-color': rangeColor }">
        </div>


      </div>
      <div class="main" v-bind:class="{'exon': !exOn,'visib':!exOnMiddle}" v-if="!inHide">
        <div class="in">
          {{fromNumber}}<sub>({{from}})</sub> = <input type="text" v-model="toIn" :style="{ 'border-color': correct }"><sub>({{to}})</sub>
        </div>
        <div class="toSettings" @click="toSettings">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div v-html="stepsVal" class="steps">

    </div>
    <div class="buttons">
      <button type="button" @click="generate" :disabled="!(rangeValid && fromValid && toValid)">Nový příklad</button>
      <button type="button" @click="check" :disabled="!exOn">Zkontrolovat</button>
      <button type="button" @click="stepsCalc" :disabled="!exOn">Postup řešení</button>
    </div>

  </div>

  <script src="js/soustavy.js"></script>
</body>

</html>
