<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>subnetting</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/subnetting.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div id="subnetting">
    <div class="smallMenu">
      <div class="menuBack" title="Zpět na úvodní stránku"><a href="index.html"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></div>
      <div class="menuSettings" title="Nastavení" @click="swapSettings" v-bind:class="{'active': settings}"><i class="fa fa-wrench" aria-hidden="true"></i></div>
      <div class="menuSubnettingHelp" title="Nápověda" @click="swapSubnettingHelp" v-bind:class="{'active': help, 'border': this.help && this.settings}"><i class="fa fa-question" aria-hidden="true"></i></div>
    </div>
    <div class="help">
      <div class="">
        <div class="title">Základní pravidla pro subnetting</div>
        <ol>
          <li>Určit velikost subnetu (co nejmenší možný počet adres, zohlednit adresu a broadcast subnetu (2 adresy navíc)).</li>
          <li>Přidělit místo. A to nejdříve těm největším subnetům. Při stejné velikosti postupovat podle abecedy.</li>
          <li>Určit rozsah podsítě. První adresa je adresou podsítě, poslední je broadcastem.</li>
        </ol>
        <br>
        Příklad
        <ul>
          <li>a</li>
          <li>b</li>
        </ul>
      </div>

    </div>
    <div class="settings" v-show="settings">
      <div class="container">
        <div class="area">
          <div class="inputs" :style="{ 'opacity': inputDisabled ? 0.5 : 1.0 }">
            <h1>Subnetting</h1>
            <div class="ip">IP Adresa</div>
            <span>&nbsp;</span>
            <div class="prefix">Prefix</div>
            <input type="text" v-model="baseIP" class="ip" :disabled="inputDisabled" :style="{'border-color': baseIPColor }">
            <span>/</span>
            <input type="text" v-model="basePrefix" class="prefix" :disabled="inputDisabled" :style="{ 'border-color': basePrefixColor }">
            <div class="diff">
              <input type="radio" name="diff" id="z" value="2" v-model="picked" :disabled="inputDisabled">
              <label for="z" class="desc">
                <span>začátečník</span>
                <span>2-3 subnety</span>
              </label>
              <input type="radio" name="diff" id="p" value="4" v-model="picked" :disabled="inputDisabled">
              <label for="p" class="desc">
                <span>pokročilý</span>
                <span>4-5 subnetů</span>
              </label>
              <input type="radio" name="diff" id="e" value="6" v-model="picked" :disabled="inputDisabled">
              <label for="e" class="desc">
                <span>expert</span>
                <span>6-7 subnetů</span>
              </label>
              <input type="radio" name="diff" id="c" value="custom" v-model="picked" :disabled="inputDisabled">
              <label for="c" class="desc" id="customLabel" @click="cust">
                <span id="switch">
                  <span id="custom">custom</span>
                  <input type="text" placeholder="2-14">
                  <span></span>
                </span>
                <span></span>
              </label>
            </div>
          </div>
          <div class="opts">

            <button type="button" class="additional">
              <i class="fa fa-cog" aria-hidden="true"></i>wip
            </button>


            <button type="button" @click="generateNew" :disabled="!picked || !ipValid || !prefixValid || !comboValid" v-if="!inputDisabled">
              Nový příklad <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
            <button type="button" @click="changeSettings" v-if="inputDisabled">
              Změnit nastavení <i class="fa fa-wrench" aria-hidden="true"></i>
            </button>
            <button type="button" @click="swapSettings" v-if="inputDisabled">
              <i class="fa fa-arrow-left" aria-hidden="true"></i> zpět
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="main" v-show="!settings" v-cloak>
      <div class="container">
        <h1>Subnetting</h1>
        <div class="subtitle">Rozdělte síť s adresou <span class="highlightArea"><span class="highlight">{{baseIP}} /{{basePrefix}}</span>
          <div class="popout">
            <table>
              <tr>
                <td colspan="2">K dispozici až {{hostsMax}} adres ({{baseIP}} - {{lastIP}})</td>
              </tr>
              <tr>
                <td>Adresa: </td>
                <td>
                  <span v-for="item in baseIPShow">{{item}}</span>
                </td>
              </tr>
              <tr>
                <td>Maska: </td>
                <td><span v-for="item in basePrefixShow">{{item}}</span></td>
              </tr>
            </table>
          </div>
          </span>
           na podsítě dle následujícího schématu:</div>

        <canvas id="canvas" width="1110" height="520"></canvas>

        <table v-if="subnets.length > 0" class="inter">
          <tr>
            <td>Název</td>
            <td>Počet hostů</td>
            <td><span v-if="answers">Zadaná<br></span>Adresa</td>
            <td v-if="answers">Adresa<br>správně</td>
            <td><span v-if="answers">Zadaný<br></span>Broadcast</td>
            <td v-if="answers">Broadcast<br>správně</td>
            <td class="prefixCell"><span v-if="answers">Zadaný<br></span>Prefix</td>
            <td v-if="answers">Prefix<br>správně</td>
          </tr>
          <tr v-for="item in subnets">
            <td>{{item.name}}</td>
            <td>{{item.hosts}}</td>
            <td><input type="text" v-model="item.inFirstA" @input="resetFirstA(item)" :style="{ 'border-color': item.firstACheckColor }"></td>
            <td v-if="answers">{{item.firstA}}</td>
            <td><input type="text" v-model="item.inLastA" @input="resetLastA(item)" :style="{ 'border-color': item.lastACheckColor }"></td>
            <td v-if="answers">{{item.lastA}}</td>
            <td class="prefixCell"><input type="text" v-model="item.inPrefix" @input="resetPrefix(item)" class="prefix" :style="{ 'border-color': item.prefixCheckColor }"></td>
            <td v-if="answers">{{item.prefix}}</td>
          </tr>
        </table>

        <div class="buttons clearfix">
          <div class="sectionL">
            <input type="text"  v-model="fillAll" placeholder="dosadit do všech">
            <button type="button" @click="fillAllTrigger"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
          </div>
          <div class="sectionR">
            <button @click="check">Zkontrolovat</button>
            <button @click="showResults">Zobrazit řešení</button>
            <button @click="generate">Další příklad <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="subnetting.js"></script>
</body>
</html>
