<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>subnetting</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/subnetting.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
</head>

<body>
  <div id="subnetting">

    <div class="smallMenu">




      <div class="menuItem menuSettings" title="Nastavení" @click="swapSettings" v-bind:class="{'active': settings}"><i class="fa fa-cog" aria-hidden="true"></i></div>
      <div class="menuItem menuSubnettingHelp" title="Nápověda" @click="swapSubnettingHelp" v-bind:class="{'active': help, 'border': this.help && this.settings}"><i class="fas fa-question-circle" aria-hidden="true"></i></div>
      <div class="menuItem menuBack" title="zpet" v-if="settings"><a href="index.html"><i class="fas fa-home"></i><span>ToolkIT</span></a></div>
    </div>





    <div class="help">
      <div class="">
        <div class="title">Základní pravidla pro subnetting</div>
        <ol>
          <li>Určit velikost subnetu (co nejmenší možný počet adres, zohlednit adresu a broadcast subnetu (2 adresy navíc)).</li>
          <li>Přidělit místo. A to nejdříve těm největším subnetům. Při stejné velikosti postupovat podle abecedy.</li>
          <li>Určit rozsah podsítě. První adresa je adresou podsítě, poslední je broadcastem.</li>
        </ol>
        <br>
        Příklad
        <ul>
          <li>a</li>
          <li>b</li>
        </ul>
      </div>

    </div>
    <div class="settings" v-show="settings">
      <div class="container">
        <div class="area">
          <div class="inputs clearfix" :style="{ 'opacity': inputDisabled ? 0.5 : 1.0 }" v-if="!specs">
<h1>Subnetting</h1>
            <table class="mainIn">
              <tr>
                <td>
                  Počet subnetů
                </td>
                <td class="space">

                </td>
                <td class="ip">
                  IP Adresa
                </td>
                <td>

                </td>
                <td class="prefix">
                  Prefix
                </td>


              </tr>
              <tr>
                <td class="countHosts">
                    <input type="text" v-model="subnetCountIn" :disabled="inputDisabled" :style="{ 'border-color': baseCountColor }" placeholder="(2-14)">
                </td>
                <td class="e">
                  &nbsp;
                </td>
                <td class="ip">
                  <input type="text" v-model="baseIPIn" class="ip" :disabled="inputDisabled" :style="{'border-color': baseIPColor }" placeholder="(náhodná)">
                </td>
                <td class="space">
                  /
                </td>
                <td class="prefix">
                  <input type="text" v-model="prefixIn" class="prefix" :disabled="inputDisabled" :style="{ 'border-color': basePrefixColor }">
                </td>


              </tr>
            </table>




            <div class="presets">
              presets
            </div>
            <div class="diff">

              <input type="radio" name="diff" id="z" v-model="diff" value="1" :disabled="inputDisabled">
              <label for="z" class="desc" @click="setDiff1">
                <div>
                  <span>začátečník</span>
                  <span>192.0.2.0 /24</span>
                  <span>2-3 subnety</span>
                </div>
              </label>
              <input type="radio" name="diff" id="pr" v-model="diff" value="2" :disabled="inputDisabled" checked>
              <label for="pr" class="desc" @click="setDiff2">
                <div>
                  <span>průměrný</span>
                  <span>192.0.2.0 /24</span>
                  <span>4-6 subnetů</span>
                </div>

              </label>
              <input type="radio" name="diff" id="po" v-model="diff" value="3" :disabled="inputDisabled">
              <label for="po" class="desc" @click="setDiff3">
                <div>
                  <span>pokročilý</span>
                  <span>192.0.2.?</span>
                  <span>/24 - /26</span>
                  <span>4-8 subnetů</span>
                </div>
              </label>
              <input type="radio" name="diff" id="e" v-model="diff" value="4" :disabled="inputDisabled">
              <label for="e" class="desc" @click="setDiff4">
                <div>
                  <span>expert</span>
                  <span>náhodná IP</span>
                  <span>/22 - /26</span>
                  <span>4-8 subnetů</span>
                </div>
              </label>
            </div>
          </div>
          <div class="specs" v-if="specs" :style="{ 'opacity': inputDisabled ? 0.5 : 1.0 }">
            <h3>Další nastavení</h3>
              <table>
                <tr>
                  <td>
                    Upřednostnit počítání s maskou podsítě
                  </td>
                  <td>

    <label for="cbx" class="label-cbx">
      <input id="cbx" type="checkbox" class="invisible" v-model="specsMask" :disabled="inputDisabled">
      <div class="checkbox">
        <svg width="20px" height="20px" viewBox="0 0 20 20">
          <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
          <polyline points="4 11 8 15 16 6"></polyline>
        </svg>
      </div>
    </label>

                  </td>
                </tr>
              </table>
          </div>
          <div class="opts">

              <button type="button" class="additional" @click="swapSpecs" title="Další nastavení" v-bind:class="{'active': specs}">
              <i class="fas fa-sliders-h" aria-hidden="true"></i>
            </button>



            <button class="dsdd" name="dsdd" type="button" @click="generateNew" :disabled="!ipValid || !prefixValid || !comboValid || !countValid" v-if="!inputDisabled">
              Nový příklad <i class="fas fa-arrow-right" aria-hidden="true"></i>
            </button>
            <button type="button" @click="changeSettings" v-if="inputDisabled">
              Změnit nastavení
            </button>
            <button class="dsd" name="dsd" type="button" @click="swapSettings" v-if="inputDisabled">
              zpět
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="main" v-show="!settings" v-cloak>
      <div class="container">
        <h1>Subnetting</h1>
        <div class="subtitle">Rozdělte síť s adresou <span class="highlightArea"><span class="highlight">{{baseIP}} /{{basePrefix}}</span>
          <div class="popout">
            <table>
              <tr>
                <td colspan="2">K dispozici až {{hostsMax}} adres ({{baseIP}} - {{lastIP}})</td>
              </tr>
              <tr>
                <td>Adresa: </td>
                <td>
                  <span v-for="item in baseIPShow">{{item}}</span>
                </td>
              </tr>
              <tr>
                <td>Maska: </td>
                <td><span v-for="item in basePrefixShow">{{item}}</span></td>
              </tr>
            </table>
          </div>
          </span>
           na podsítě dle následujícího schématu:</div>

        <canvas id="canvas" width="1110" height="520"></canvas>

        <table v-if="subnets.length > 0" class="inter">
          <tr>
            <td>Název</td>
            <td>Počet hostů</td>
            <td><span v-if="answers">Zadaná<br></span>Adresa</td>
            <td v-if="answers">Adresa<br>správně</td>
            <td><span v-if="answers">Zadaný<br></span>Broadcast</td>
            <td v-if="answers">Broadcast<br>správně</td>
            <td class="prefixCell" v-if="!specsMask"><span v-if="answers">Zadaný<br></span>Prefix</td>
            <td v-if="answers && !specsMask">Prefix<br>správně</td>

            <td class="maskCell" v-if="specsMask"><span v-if="answers">Zadaná<br></span>Maska</td>
            <td v-if="answers && specsMask">Maska<br>správně</td>
          </tr>
          <tr v-for="item in subnets">
            <td>{{item.name}}</td>
            <td>{{item.hosts}}</td>
            <td><input type="text" v-model="item.inFirstA" @input="resetFirstA(item)" :style="{ 'border-color': item.firstACheckColor }"></td>
            <td v-if="answers">{{item.firstA}}</td>
            <td><input type="text" v-model="item.inLastA" @input="resetLastA(item)" :style="{ 'border-color': item.lastACheckColor }"></td>
            <td v-if="answers">{{item.lastA}}</td>

            <td class="prefixCell" v-if="!specsMask"><input type="text" v-model="item.inPrefix" @input="resetPrefix(item)" class="prefix" :style="{ 'border-color': item.prefixCheckColor }"></td>
            <td v-if="answers && !specsMask">{{item.prefix}}</td>

            <td class="maskCell" v-if="specsMask"><input type="text" v-model="item.inMask" @input="resetPrefix(item)" class="mask" :style="{ 'border-color': item.prefixCheckColor }"></td>
            <td v-if="answers && specsMask">{{item.mask}}</td>
          </tr>
        </table>

        <div class="buttons clearfix">
          <div class="sectionL">
            <input type="text"  v-model="fillAll" placeholder="dosadit do všech">
            <button type="button" @click="fillAllTrigger"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
          </div>
          <div class="sectionR">
            <button @click="check">Zkontrolovat</button>
            <button @click="showResults">Zobrazit řešení</button>
            <button @click="generate">Další příklad <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="hide">
      {{thediff}}
    </div>
  </div>

  <script src="subnetting.js"></script>
</body>
</html>
