#num-systems {
  position: relative;
  min-width: fit-content;
  min-height: fit-content;
  text-align: center;
}
#num-systems .help .helper .spacing {
  width: 250px;
}
#num-systems .help .helper .spacing td {
  text-align: center;
}
#num-systems .help .helper.textCenter {
  text-align: center;
}
#num-systems .help .highlighted {
  margin-bottom: 10px;
  margin-top: 20px;
}
#num-systems .help .helper {
  margin-bottom: 5px;
}
#num-systems .help ul {
  padding-left: 30px;
  margin-bottom: 10px;
}
#num-systems .settings {
  width: 100%;
  height: 100vh;
  background-image: url("../img/background.jpg");
  background-size: 1920px;
  background-attachment: fixed;
  position: relative;
  min-width: fit-content;
  overflow: hidden;
  min-height: 550px;
}
#num-systems .settings .area {
  animation: zoomIn 0.2s ease-out;
  transform-origin: top;
  width: 700px;
  padding: 50px;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#num-systems .settings .area .opts {
  margin-top: 15px;
  text-align: right;
}
#num-systems .settings .area .opts button {
  margin-left: 10px;
  float: right;
}
#num-systems .settings .area .inputs {
  position: relative;
}
#num-systems .settings .area .caption {
  text-align: left;
  margin-top: 20px;
  font-size: 24px;
}
#num-systems .settings .area .shift {
  transform: rotate(-90deg) translateY(50%);
  text-transform: uppercase;
  position: absolute;
  top: 195px;
  font-size: 24px;
  letter-spacing: 2px;
  left: -6px;
  transform-origin: left;
}
#num-systems .settings .area .poolInput {
  width: 100%;
  margin-top: 15px;
}
#num-systems .settings .area .poolInput td:nth-child(1) {
  text-align: left;
}
#num-systems .settings .area .poolInput td:nth-child(3) {
  width: 50px;
  font-size: 32px;
  cursor: pointer;
}
#num-systems .settings .area .poolInput td:nth-child(5) button {
  float: right;
  overflow: hidden;
}
#num-systems .settings .area .poolInput td:nth-child(5) button:active {
  transform: none;
}
#num-systems .settings .area .poolInput input {
  font-size: 24px;
  border-color: white;
  width: 150px;
  text-align: center;
  user-select: none;
}
#num-systems .settings .area .poolInput input::placeholder {
  font-size: 20px;
  position: relative;
  top: -1px;
}
#num-systems .settings .area .poolsBox {
  overflow: auto;
  height: 160px;
}
#num-systems .settings .area .poolsBox .pools {
  border-spacing: 0 7px;
  border-collapse: separate;
  width: calc(100% - 40px);
  float: right;
  height: 100%;
}
#num-systems .settings .area .poolsBox .pools .lineRow {
  background: rgba(6, 31, 33, 0.6);
  font-size: 24px;
  height: 46.5px;
  width: 100%;
}
#num-systems .settings .area .poolsBox .pools .lineRow:not(:last-child) {
  margin-bottom: 10px;
}
#num-systems .settings .area .poolsBox .pools .lineRow > div {
  display: inline-block;
  height: 100%;
  float: left;
  line-height: 46.5px;
}
#num-systems .settings .area .poolsBox .pools .lineRow div:nth-child(1) {
  border-bottom: none;
  font-size: 16px;
  text-align: right;
  font-weight: bold;
  color: #ffffff;
  background: rgba(0, 187, 206, 0.8);
  width: 5%;
  position: relative;
  padding-right: 2px;
}
#num-systems .settings .area .poolsBox .pools .lineRow div:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 0;
  display: inline-block;
  height: 0;
  border-top: 23.25px solid transparent;
  border-bottom: 23.25px solid transparent;
  border-left: 15px solid rgba(0, 187, 206, 0.8);
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}
#num-systems .settings .area .poolsBox .pools .lineRow > div {
  border-bottom: 2px solid rgba(0, 187, 206, 0.8);
}
#num-systems .settings .area .poolsBox .pools .lineRow div:nth-child(3) {
  width: calc(15% - 45px);
  color: #49eeff;
}
#num-systems .settings .area .poolsBox .pools .lineRow div:nth-child(5) {
  text-align: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  width: 45px;
  cursor: pointer;
}
#num-systems .settings .area .poolsBox .pools .lineRow div:nth-child(5):hover:not(.disabled) {
  background: #c22;
  color: white;
}
#num-systems .settings .area .poolsBox .pools .lineRow div:nth-child(2) {
  width: 40%;
  padding-left: 10%;
}
#num-systems .settings .area .poolsBox .pools .lineRow div:nth-child(4) {
  width: 40%;
  padding-right: 10%;
}
#num-systems .settings .area .range {
  margin-top: 15px;
}
#num-systems .settings .area .range div {
  line-height: 42px;
  display: inline-block;
  float: left;
}
#num-systems .settings .area .range input {
  float: right;
  text-align: center;
  border-color: white;
  width: 200px;
}
#num-systems .settings .area .range .info {
  margin-left: 10px;
  color: #aaa;
  font-size: 75%;
}
#num-systems .settings .area h1 {
  padding-top: 0;
}
#num-systems .main {
  min-height: 100vh;
}
#num-systems .main.animStart .system > div > span {
  transition: all 0s;
  transform: perspective(200px) rotateY(-90deg);
  opacity: 0.5;
}
#num-systems .main.animStart .number > div:not(.direction) > span {
  transition: all 0s;
  transition-delay: 0s;
  transform: perspective(200px) rotateY(-90deg);
  opacity: 0.5;
}
#num-systems .main.animStart .number > div:not(.direction) input {
  transition: all 0s ease 0s, width 0s ease 0s;
  transform: perspective(200px) rotateY(-90deg);
  opacity: 0.5;
}
#num-systems .main.animStart .number .direction > span::before {
  width: 0;
  transition: all 0s;
  transition-delay: 0.0s;
}
#num-systems .main.animStart .number .direction svg {
  transform: scale(0.5);
  transition: all 0s;
  transition-delay: 0.0s;
  opacity: 0;
}
#num-systems .main.animEnd .system > div > span {
  transition: all 0.25s;
  transform: perspective(200px) rotateY(0deg) scale(0);
  opacity: 0.5;
}
#num-systems .main.animEnd .number > div:not(.direction) > span {
  transition: all 0.25s;
  transition-delay: 0s;
  transform: perspective(200px) rotateY(0deg) scale(0);
  opacity: 0.5;
}
#num-systems .main.animEnd .number > div:not(.direction) input {
  transition: all 0.25s ease 0.0s, width 0s ease 0s;
  transform: perspective(200px) rotateY(0deg) scale(0);
  opacity: 0.5;
}
#num-systems .main.animEnd .number .direction > span {
  transform: perspective(200px) rotateY(0deg) scale(0);
  transition: all 0.25s;
  transition-delay: 0.0s;
}
#num-systems .main .row {
  margin-top: 100px;
  transition: margin-top 0.5s;
}
#num-systems .main .row.mini {
  margin-top: 20px;
}
#num-systems .main .system {
  line-height: 48px;
  color: #49eeff;
}
#num-systems .main .system > div > span {
  transition: transform 0.5s;
  transform: perspective(200px) rotateY(0deg) scale(1);
  display: inline-block;
  border: 1.5px dashed rgba(73, 238, 255, 0.66);
  padding: 5px 15px;
  font-size: 32px;
  background: rgba(0, 0, 0, 0.2);
  cursor: default;
}
#num-systems .main .system > div > span:hover {
  background: rgba(0, 0, 0, 0.4);
}
#num-systems .main .system > div > span:hover + .popout {
  opacity: 1;
  transition: all 0.2s;
  transition-delay: 0.2s;
}
#num-systems .main .system .popout {
  line-height: initial;
  color: white;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  position: absolute;
  font-size: 14px;
  background: rgba(25, 25, 25, 0.9);
  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  opacity: 0;
  transition: 0.1s all;
  margin: 0;
  padding: 5px 10px;
}
#num-systems .main .system .popout span {
  text-align: center;
  margin: 0 5.5px;
  display: inline-block;
}
#num-systems .main .system .popout:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent rgba(25, 25, 25, 0.9) transparent;
}
#num-systems .main .number {
  font-size: 26px;
}
#num-systems .main .number > div:not(.direction) > span {
  transition: all 0.5s;
  transition-delay: 0.25s;
  display: inline-block;
  transform: perspective(200px) rotateY(0deg) scale(1);
  line-height: 50px;
}
#num-systems .main .number > div:not(.direction) > input {
  transition: all 0.5s ease 0.25s, border 0.2s ease 0s, width 0.25s ease 0s;
  display: inline-block;
  transform: perspective(1000px) rotateY(0deg) scale(1);
}
#num-systems .main .number .direction {
  opacity: 1;
}
#num-systems .main .number .direction.left > span {
  direction: rtl;
  text-align: right;
}
#num-systems .main .number .direction.left > span::before {
  left: -15px;
}
#num-systems .main .number .direction > span {
  font-size: 40px;
  display: inline-block;
  width: 170px;
  text-align: left;
  vertical-align: middle;
  height: 40px;
  line-height: 40px;
}
#num-systems .main .number .direction > span::before {
  transition: all 1s;
  transition-delay: 0.5s;
  vertical-align: middle;
  content: "";
  display: inline-block;
  background: white;
  height: 6px;
  left: 15px;
  border-radius: 2px;
  width: 140px;
  position: relative;
}
#num-systems .main .number .direction svg {
  vertical-align: middle;
  transition: all 0.25s, opacity 0.05s;
  transition-delay: 0.5s;
  transform: scale(1);
}
#num-systems .main .number input {
  font-size: 24px;
  transition: width 0.3s;
}
#num-systems .main .buttons {
  margin-top: 100px;
  float: right;
  transition: margin-top 0.5s;
  padding-bottom: 70px;
}
#num-systems .main .buttons.mini {
  margin-top: 30px;
}
#num-systems .main .buttons button {
  margin-left: 5px;
}
#num-systems .answers {
  display: none;
  margin-top: 50px;
}
#num-systems .answers table {
  border: 2px solid #ddd;
  margin: 0 auto;
}
#num-systems .answers table td {
  padding: 3px 6px;
}
#num-systems .answers table.vertical.extended tr:nth-child(3) td:nth-child(2n-1) {
  letter-spacing: 3px;
}
#num-systems .answers table.vertical:not(.extended) tr:nth-child(2) td:nth-child(2n-1) {
  letter-spacing: 3px;
}
#num-systems .answers table.vertical td {
  padding: 10px 5px;
}
#num-systems .answers table.vertical td:nth-child(2n) {
  background: #004951;
}
#num-systems .answers table.vertical td:nth-child(2n-1) {
  background: #172a36;
}
#num-systems .answers table.horizontal tr:nth-child(2n) {
  background: #004951;
}
#num-systems .answers table.horizontal tr:nth-child(2n-1) {
  background: #172a36;
}
#num-systems .answers table.horizontal td:nth-child(1) {
  padding-left: 20px;
}
#num-systems .answers table.horizontal td:nth-child(6) {
  padding-left: 30px;
}
#num-systems .answers table.horizontal td:nth-child(7) {
  background: #ddd;
  color: #222;
  font-weight: bold;
}
#num-systems .answers table.horizontal td:nth-child(8) {
  padding-right: 20px;
}
#num-systems .answers > * {
  margin-bottom: 20px!important;
}
@keyframes arrowUp {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  50.01% {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0px);
  }
}
